/* @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap'); */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');

/* @import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,800&display=swap'); */

.asd{
    scroll-behavior: smooth;
}


/* capaz lo borramos */
.imgSmallScreen {
    width: 12rem;
    height: 11rem;
}


@media screen and (max-width: 450px) {
    .imgSmallScreenLeft  {
        float: inline-start;
    }
    
    .imgSmallScreenRigth  {
        float: inline-end;
    }
    
    .textAU {
        font-size: clamp(0.7rem, 5vw, 2rem);
        font-weight: 500;
        line-height: 28px;
        letter-spacing: 0em;
    }
    
    .textLeft{
        text-align: left;
    }
    
    .textRigth{
        text-align: right;
    }
}
/*  */

/* nuestro chipa */
.container-bg{
    background-image: url(/imgBG/navBG2.png);
    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover;
    min-height: 75rem;
}

.imgBrand{
    width: 10rem;
    height: 10rem;
}

.nav-link{
    color: #fff;
}


/* fondos */
.fondo1 {
    width: 100%;
}

/* sobre nosotros */
.aboutContainer {
    margin-top: 1.5rem;
}

.titleContainer {
    width: 90%;
}

.title {
    font-size: 36px;
    font-weight: 900;
    letter-spacing: 0em;
}

.topic {
    color: #F65A1B;
    font-size: 22px;
    font-weight: 800;
    letter-spacing: 0em;
}

.fontStyle {
    font-family: 'Poppins', sans-serif;
}


.text-content {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    flex-direction: row;
    width: 90%;
}

.textBox {
    letter-spacing: 0em;
    text-align: start;
    font-size: clamp(0.7rem, 5vw, 1.3rem);
    font-weight: 500;
}

.auImgContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.aboutUs1,
.aboutUs2 {
    width: 13rem;
    height: 12rem;
    text-align: center;
}

/* testimonios */
.carousel-indicators [data-bs-target] {
    background-color: #F65A1B;
    border-radius: 50%;
    width: 1.5rem;
    height: 20px;
}

.carousel-indicators {
    bottom: -115px;
}

.carousel-item {
    transition: transform 1.8s ease-in-out;
}

.carousel-control-next,
.carousel-control-prev {
    opacity: 100;
}


.carousel-control-next,
.carousel-control-prev {
    right: -20px;
    top: 50px;
    background-color: #F65A1B;
    border-radius: 50%;
    width: 55px;
    height: 55px;
    padding: 15px;
}

.carousel-control-prev {
    left: -20px;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    width: 4vw;
    height: 4vw;
}

.visually-hidden {
    width: 15px;
    height: 15px;
}

.comment-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.comment-container p {
    width: 75%;
    font-size: 2rem;
    font-size: clamp(0.7rem, 5vw, 2rem);
    font-weight: 100;
    min-height: 195px;
}

.customers-container,
.stars {
    display: flex;
    justify-content: center;
    align-items: center;
}

.customerOpinion {
    font-size: 1.3rem;
    font-weight: 600;
    margin-bottom: 0;
}


/* responsive */
@media screen and (max-width: 770px) {
    .carousel-control-next {
        top: 75px;
    }

    .carousel-control-prev {
        top: 80px;
    }
}

@media screen and (max-width: 770px) {

    .carousel-control-next,
    .carousel-control-prev {
        width: 45px;
        height: 45px;
        padding: 10px;
    }
}

@media screen and (max-width: 620px) {

    .title,
    .topic {
        font-size: clamp(0.7rem, 5vw, 2rem);
    }
}

@media screen and (max-width: 500px) {

    .carousel-control-next,
    .carousel-control-prev {
        width: 30px;
        height: 30px;
        padding: 0;
    }
}

@media screen and (max-width: 500px) {

    .carousel-control-next,
    .carousel-control-prev {
        width: 30px;
        height: 30px;
        padding: 0;
    }
}