.footerContainer {
  background: url(../../assets/footer/footer.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 438px;
  max-height: 438px;
  min-height: 460px;
  color: #ffffff;
}

.footerContent {
  padding-left: 4rem;
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr 1fr 2fr;
  height: 400px;
}

.colum-1 {
  align-items: flex-start;
}

.colum-1,
.colum-2,
.colum-3 {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-content: center;
  flex-wrap: wrap;
  padding-inline-start: 10px;
  font-weight: 400;
  line-height: 34px;
  font-size: 18px;
}

.colum-1 p {
  width: 546px;
}

.colum-2 ul {
  padding-inline-start: 0;
}

.colum-2 ul li img{
  margin-right: .2rem;
}

.logo {
  width: 112px;
  height: 112px;
}

.redes {
  width: 40px;
  height: 40px;
  margin: 5px;
}

.png {
  display: flex;
  width: 24px;
  height: 24px;
}

.Content {
  display: flex;
  align-items: center;
  /* justify-content: center; */
  margin: 0 0 .5rem 0;
}

.line {
  display: flex;
  justify-content: end;
  width: 100%;
  align-items: end;
}

a {
  color: #ffffff;
  text-decoration: none;
}

.titleList {
  display: flex;
  align-items: center;
  line-height: 50px;
  font-weight: 700;
  font-size: 26px;
}

@media screen and (max-width: 992px) {
  .colum-1 p {
    width: 340px;
  }

  .colum-1,
  .colum-2,
  .colum-3 {
    line-height: 30px;
    font-size: 17px;
  }

  .logo {
    width: 100px;
    height: 100px;
  }
}

@media screen and (max-width: 768px) {
  .footerContainer {
    height: 680px;
    max-height: 700px;
  }

  .footerContent {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr;
    padding-bottom: 10px;
    height: 650px;
    padding: 1rem;
  }

  .logo {
    width: 90px;
    height: 90px;
  }

  .Content{
    justify-content: flex-start;
  }

  .colum-1,
  .colum-2,
  .colum-3 {
    align-content: start;
    margin: 0;
    padding: 0;
  }

  .colum-1 p {
    width: auto;
  }

  .colum-3 .Content img{
    margin-right: .2rem;
  }

  .colum-3 .Content a{
    width: auto;
  }
}

@media screen and (max-width: 576px) {
  .footerContainer {
    height: 730px;
    max-height: 750px;
  }


  .footerContent{
    height: 700px;
  }

  /* .logo {
    width: 60px;
    height: 60px;
  }

  .colum-1,
  .colum-2,
  .colum-3 {
    line-height: 26px;
    font-size: 14px;
    align-content: start;
  }

  .redes {
    width: 32px;
    height: 32px;
    margin: 5px;
  }

  .titleList {
    font-size: 18px;
  }

  .line {
    display: none;
  } */
}

/*for small devices*/
@media screen and (max-width: 350px) {}