.footerContainer {
  background: url(../../assets/footer/footer.png);
  width: 100%;
  height: 438px;
  color: #ffffff;
}

.footerContent {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  height: 400px;
}

.colum-1,
.colum-2,
.colum-3 {
  justify-items: center;
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  padding-inline-start: 20px;
  justify-content: center;
  font-weight: 400;
  line-height: 34px;
  font-size: 18px;
}

.logo {
  width: 112px;
  height: 112px;
}
.redes {
  width: 40px;
  height: 40px;
  margin: 5px;
}

.png {
  display: flex;
  width: 24px;
  height: 24px;
}
.Content {
  display: flex;
  gap: 7px;
}
.line {
  display: flex;
  justify-content: end;
  width: 100%;
  align-items: end;
}
a {
  color: #ffffff;
}

.titleList {
  display: flex;
  align-items: center;
  line-height: 50px;
  font-weight: 700;
  font-size: 26px;
}

@media screen and (max-width: 768px) {
  .footerContent {
    display: flex;
    flex-direction: column;
  }
}
