.service-box{
background: linear-gradient(105.28deg, #FFF5DF 28.34%, #FFD583 75.25%, #FFB94B 107.54%);
width: 100%;
height: 100vh;
font-family: 'Poppins', sans-serif;
}

.span-service{
    color:#F65A1B;
    font-weight: 500;
    margin-top: 12px;
}


.title-serv{
    font-weight: 700;
    margin-bottom: 0;
}
.text-serv{
    color: #555555;
}

.cards-service{
    display: flex;
    width: 80%;
    height: 65%;
    gap: 4rem;
}