/* testimonios */
.testimonials-container {
    margin-top: 3rem;
}

.carousel-indicators [data-bs-target] {
    background-color: #F65A1B;
    border-radius: 50%;
    width: 1.5rem;
    height: 20px;
}

.carousel-indicators {
    bottom: -115px;
}

.carousel-item {
    transition: transform 1.8s ease-in-out;
}

.carousel-control-next,
.carousel-control-prev {
    opacity: 100;
}


.carousel-control-next,
.carousel-control-prev {
    right: -20px;
    top: 50px;
    background-color: #F65A1B;
    border-radius: 50%;
    width: 55px;
    height: 55px;
    padding: 15px;
}

.carousel-control-prev {
    left: -20px;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    width: 4vw;
    height: 4vw;
}

.visually-hidden {
    width: 15px;
    height: 15px;
}

.comment-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.comment-container p {
    width: 75%;
    font-size: 2rem;
    font-size: clamp(0.7rem, 5vw, 2rem);
    font-weight: 100;
    min-height: 195px;
}

.customers-container,
.stars {
    display: flex;
    justify-content: center;
    align-items: center;
}

.customerOpinion {
    font-size: 1.3rem;
    font-weight: 600;
    margin-bottom: 0;
}

.imgSmallScreen {
    width: 12rem;
    height: 11rem;
}


@media screen and (max-width: 450px) {
    .imgSmallScreenLeft  {
        float: inline-start;
    }
    
    .imgSmallScreenRigth  {
        float: inline-end;
    }
    
    .textAU {
        font-size: clamp(0.7rem, 5vw, 2rem);
        font-weight: 500;
        line-height: 28px;
        letter-spacing: 0em;
    }
    
    .textLeft{
        text-align: left;
    }
    
    .textRigth{
        text-align: right;
    }
}


/* responsive */
@media screen and (max-width: 770px) {
    .carousel-control-next {
        top: 75px;
    }

    .carousel-control-prev {
        top: 80px;
    }
}

@media screen and (max-width: 770px) {

    .carousel-control-next,
    .carousel-control-prev {
        width: 45px;
        height: 45px;
        padding: 10px;
    }
}

@media screen and (max-width: 620px) {
    .title,
    .topic {
        font-size: clamp(0.7rem, 5vw, 2rem);
    }
}

@media screen and (max-width: 500px) {

    .carousel-control-next,
    .carousel-control-prev {
        width: 30px;
        height: 30px;
        padding: 0;
    }
}

@media screen and (max-width: 500px) {

    .carousel-control-next,
    .carousel-control-prev {
        width: 30px;
        height: 30px;
        padding: 0;
    }
}