/* nav */
.container-bg{
    background-image: url(/imgBG/navBG2.png);
    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover;
    min-height: 60rem;
}

.brand-container{
    padding: 1rem;
}

.imgBrand{
    width: 6rem;
    height: 6rem;
}

.nav-link{
    color: #fff;
}

.brand-container{
    flex-grow: 1;
}

.navbar-nav{
    flex-grow: 3;
    align-items: center;
    justify-content: space-between;
}

.navbar-nav li{
    flex-grow: 1;
    font-size: 2rem;
}

.navbar-dark .navbar-toggler {
    color: #fff;
    border-color: #fff;
    height: 65px;
    width: 60px;
    border: 3px solid #fff;
    border-radius: 20%;
    padding: 0;
}

a{
    text-decoration: none;
    transition: all 0.5s ease;
    text-align: center;
    width: 195px;

}

a:hover {
    border-bottom: solid 2px #fff;
}

.navbar-dark .navbar-toggler-icon {
    opacity: 1;
    width: 40px;
    /* Change the color in the stroke property of the image data  .custom-toggler .navbar-toggler-icon { background-image: url(“data:image/svg+xml;charset=utf8, %3Csvg viewBox=’0 0 32 32′ xmlns=’http://www.w3.org/2000/svg’%3E%3Cpath stroke=’rgba(0, 128, 0, 0.8)’ stroke-width=’2′ stroke-linecap=’round’ stroke-miterlimit=’10’ d=’M4 8h24M4 16h24M4 24h24’/%3E%3C/svg%3E”); }*/
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e")
}


