/* Contact Us */
.contact-container {
  margin-top: 10rem;
}

ul,
li,
a {
  text-decoration: none;
  list-style: none;
}

/* button {
  text-decoration: none;
  list-style: none;
  border: none;
  background: none;
} */

.grid-Container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-template-areas:
    "imgContainer locationContainer"
    "imgContainer2 listContainer";
}

.imgContainer {
  grid-area: imgContainer;
  padding-inline-start: 40px;
}

.img1 {
  width: 300px;
  height: 300px;
  border-radius: 200px;
}

.locationContainer {
  grid-area: locationContainer;
  padding-top: 50px;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  color: #767676;
}

.locationContent {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
}

.locationText {
  margin: 0 1rem;
}

.listContainer {
  grid-area: listContainer;
  font-weight: 500;
  font-size: 17px;
  color: #767676;
}

.horariosContent {
  display: flex;
  flex-wrap: nowrap;
}

.horariosContainer {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
}

.imgContainer2 {
  grid-area: imgContainer2;
  text-align: center;
}

.img2 {
  width: 216px;
  height: 216px;
  border-radius: 200px;
}

/* .subtitle {
  font-weight: 500;
  font-size: 28px;
  line-height: 42px;
  color: #f65a1b;
} */

.btn {
  width: 111px;
  height: 42px;
  font-weight: 500;
  color: #f65a1b;
  font-size: 16px;
  line-height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px;
  gap: 10px;
  border: 1px solid #f65a1b;
  border-radius: 21px;
}

.btn:hover {
  color: #ffffff;
  background-color: #f65a1b;
}

.svg {
  background-color: #f65a1b;
  width: 48px;
  height: 48px;
  border-radius: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.bi {
  color: #ffffff;
  width: 50px;
  height: 20px;
}

@media screen and (max-width: 992px) {
  .imgContainer {
    grid-area: imgContainer;
    padding-inline-start: 10px;
    display: flex;
    align-items: center;
  }

  .subtitle {
    font-size: 24px;
  }

  .imgContainer2 {
    grid-area: imgContainer2;
    display: flex;
    justify-content: center;
    padding-top: 10px;
  }

  .locationContainer {
    font-size: 18px;
  }

  .listContainer {
    font-size: 16px;
  }
}

@media screen and (max-width: 768px) {
  .title {
    font-size: 28px;
    text-align: start;
  }

  .topic {
    font-size: 20px;
    text-align: start;
  }

  .grid-Container {
    grid-template-rows: repeat(4, 1fr);
    grid-template-areas:
      "imgContainer2 imgContainer2"
      "locationContainer locationContainer"
      " listContainer listContainer"
      "imgContainer imgContainer";
  }

  .imgContainer2 {
    padding-top: 0px;
    align-items: center;
  }

  .imgContainer {
    grid-area: imgContainer;
    padding-inline-start: 0px;
    display: flex;
    justify-content: center;
    text-align: center;
  }

  .subtitle {
    font-size: 22px;
  }

  .btn {
    font-size: 14px;
  }

  .img1 {
    width: 190px;
    height: 190px;
  }

  .locationContainer,
  .listContainer {
    padding-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }

  .svg {
    width: 40px;
    height: 40px;
  }

  .bi {
    width: 24px;
    height: 24px;
  }

  .locationContent,
  .horariosContent {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    flex-direction: column;
    gap: 10px;
  }

  .img2 {
    width: 190px;
    height: 190px;
  }
}

@media screen and (max-width: 576px) {
  .title {
    font-size: 20px;
  }

  .topic {
    font-size: 18px;
  }

  .subtitle {
    font-size: 16px;
    line-height: 24px;
    text-align: center;
  }

  .imgContainer,
  .imgContainer2 {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .img1 {
    width: 170px;
    height: 170px;
  }

  .img2 {
    width: 170px;
    height: 170px;
  }

  .locationContainer {
    font-size: 15px;
    line-height: 21px;
    align-items: center;
  }

  .locationContent {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding-block-start: 10px;
    gap: 30px;
    align-items: center;
    text-align: center;
  }

  .horariosContent {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    padding-block-start: 10px;
    gap: 15px;
  }

  .listContainer {
    font-size: 15px;
  }

  .svg {
    width: 32px;
    height: 32px;
  }

  .bi {
    width: 24px;
    height: 24px;
  }

  /* ACA el probelma */
  /* .btn,
  button {
    display: none;
  } */
}

/*for small devices*/
@media screen and (max-width: 350px) {
  .title {
    font-size: 18px;
  }

  .topic {
    font-size: 16px;
  }

  .subtitle {
    font-size: 16px;
    line-height: 24px;
    text-align: center;
  }

  .locationContainer {
    font-size: 14px;
    line-height: 21px;
  }

  .img1 {
    width: 150px;
    height: 150px;
  }

  .img2 {
    width: 150px;
    height: 150px;
  }

  .listContainer {
    font-size: 14px;
  }
}