/* @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap'); */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');

/* @import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,800&display=swap'); */


.fondo1 {
    width: 100%;
}

.titleText{
    margin: 0;
    padding: 0;
    font-size: clamp(0.7rem, 5vw, 2rem);
}



.title {
    font-size: 36px;
    font-weight: 900;
    letter-spacing: 0em;
}

.topic {
    color: #F65A1B;
    font-size: 22px;
    font-weight: 800;
    letter-spacing: 0em;
}

.fontStyle {
    font-family: 'Poppins', sans-serif;
}

@media screen and (max-width: 620px) {
    .title,
    .topic {
        font-size: clamp(0.7rem, 5vw, 2rem);
    }
}